# Dependencies
node_modules/

# Production build outputs
dist/
build/
out/

# IDE / OS specific files
.vscode/

# Environment variables, logs
.env
.env.local
*firebase*.json
*.log

#Local files
src/run.ts
