# Dependencies
node_modules/

# Production build outputs
dist/
build/
out/

# IDE / OS specific files
.vscode/

# Environment variables, logs
.env
firestore-debug.log
*.log

#Local files
tsconfig.tsbuildinfo
docker-compose.override.yml
playwright-report
test-results
scripts/
seed*